.ho{
  background-image: url(images/image2.jpg);
}
.calc{
  background-color: rgb(250, 141, 39);
}


.left{width: 25%;
}

.right{
  width: 75%;
  float: left;
}


.card{
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  margin-top:10%;
}

.cb{
  width: 300px;
  height: 250px;
}


.be{
  background-image: url(images/image3.png);
}

.form{
  width: 500px;
  
}