.ho{
  background-image: url(images/image2.jpg);
}
.click{
  background-color: rgb(253, 216, 6);
  color: rgb(3, 3, 2);
  border-radius: 5px;
  width: 200px;
 
}
.click :hover{
  text-shadow: rgb(253, 251, 247);
}


.left{width: 25%;
}

.right{
  width: 75%;
  float: left;
}


.card{
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  margin-top:10%;
}

.cb{
  width: 300px;
  height: 250px;
}


.be{
  background-image: url(images/image3.png);
}

.form{
  width: 500px;
  
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(10, 4, 2);
  color: rgb(253, 174, 5);
}

.cal{
  background-image: url(images/image4.jpeg);
  color: rgb(245, 181, 61);
}